/* Global Variables */
:root {
  --cc-primary: #0070f3;
  --cc-p-light: #b3d6ff;
  --cc-p-dark: #0400ff;
}

/* Variables for Payment.modules.css */
:root {
  --card-line-height: 1.2em;
  --card-padding: 1em;
  --card-radius: 0.5em;
  --color-green: #558309;
  --color-gray: #e2ebf6;
  --color-dark-gray: #c4d1e1;
  --radio-border-width: 2px;
  --radio-size: 1.5em;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Header */
.header-title a {
  color: var(--cc-primary);
  text-decoration: none;
}

.header-title a:hover,
.header-title a:focus,
.header-title a:active {
  text-decoration: underline;
}

.header-title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

/* Footer */
.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}
.footer a {
  padding: 1rem;
  white-space: nowrap;
}
.footer a:hover {
  text-decoration: underline;
}
.footer div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 1em;
  margin-left: 0.5rem;
}

/* Main */
.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}
