.payment {
  width: 90vw;
  min-height: 45vh;
  max-width: 900px;
  margin: auto;
}

.paymentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paymentHeader button {
  background-color: transparent;
  border: 1px solid var(--cc-primary);
  height: 2rem;
  padding: 0.3rem 1rem;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.paymentHeader button:hover {
  background: var(--cc-primary);
  color: white;
  cursor: pointer;
}

/* Payment Selection */
.paymentSelection {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.option {
  background-color: #fff;
  border-radius: 0.5em;
  position: relative;
  width: 100%;
  max-width: 250px;
  margin: 0.5rem;
}
.option:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.radio {
  font-size: inherit;
  margin: 0;
  position: absolute;
  right: calc(1em + var(--radio-border-width));
  top: calc(1em + var(--radio-border-width));
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    border: var(--radio-border-width) solid var(--color-gray);
    border-radius: 50%;
    cursor: pointer;
    height: var(--radio-size);
    outline: none;
    transition: background 0.2s ease-out, border-color 0.2s ease-out;
    width: var(--radio-size);
  }
  .radio::after {
    border: var(--radio-border-width) solid #fff;
    border-top: 0;
    border-left: 0;
    content: "";
    display: block;
    height: 0.75rem;
    left: 25%;
    position: absolute;
    top: 50%;
    transform: rotate(45deg) translate(-50%, -50%);
    width: 0.375rem;
  }
  .radio:checked {
    background: var(--color-green);
    border-color: var(--color-green);
  }

  .option:hover .radio {
    border-color: var(--color-dark-gray);
  }
  .option:hover .radio:checked {
    border-color: var(--color-green);
  }
}
.optionDetails {
  border: var(--radio-border-width) solid var(--color-gray);
  border-radius: 0.5em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 1em;
  transition: border-color 0.2s ease-out;
}

.option:hover .optionDetails {
  border-color: var(--color-dark-gray);
}

.radio:checked ~ .optionDetails {
  border-color: var(--color-green);
}

.radio:focus ~ .optionDetails {
  box-shadow: 0 0 0 2px var(--color-dark-gray);
}

.radio:disabled ~ .optionDetails {
  color: var(--color-dark-gray);
  cursor: default;
}

.radio:disabled ~ .optionDetails .optionText {
  color: var(--color-dark-gray);
}

.option:hover .radio:disabled ~ .optionDetails {
  border-color: var(--color-gray);
  box-shadow: none;
}

.option:hover .radio:disabled {
  border-color: var(--color-gray);
}

.optionText {
  color: var(--color-green);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1em;
}

/* Payment Form */
.paymentFormsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.paymentInfo {
  width: 40%;
  min-width: 300px;
  padding: 15px;
}
.paymentForm {
  width: 60%;
}

/* Forms */
.input,
.select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  border: none;
  background: transparent;
  border-bottom: 1.5px solid #ccc;
  padding: 5px;
  margin-top: 2.5px;
  position: relative;
}
.select {
  width: 45%;
}

.formField {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  margin-bottom: 12.5px;
}

.dateVal {
  display: flex;
  justify-content: space-between;
}

.payButton {
  background-color: var(--cc-primary);
  border: 1px solid var(--cc-p-dark);
  color: white;
  font-size: 1rem;
  border-radius: 3px;
  padding: 0.3rem 1rem;
  margin-top: 1rem;
  transition: all 0.3s ease-in-out;
}

.payButton:hover {
  background-color: var(--cc-p-dark);
  cursor: pointer;
}
